{% extends "bootstrap/base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">SpiderSilk Hospital</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            See Who's Here
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/employee_register">Our Staff<span class="sr-only">(current)</span></a>
            <a class="dropdown-item" href="/patient_register">Patients</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign-In
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/employee">Employees <span class="sr-only">(current)</span></a>
              <a class="dropdown-item disabled" href="/patient">Patients</a>
          </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block form %}
<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}

{% block content %}
    <div class="text-left" style="background: rgb(50, 50, 255)">
        <h3 class="h3 font-weight-bold text-center" style="color: goldenrod">Welcome to SpiderSilk Hospital</h3>
        
            <p style="color: goldenrod">
                We provide top quality services to all in the territory of the Life Web Emperess. If you are a patient that is staying for an operation please be sure that you name a procedure that requires you to <br>
                stay here in the form below. If you are a patient that is only here for a test or check-up please name that test you are here for in the form below. We hope you enjoy your time at our facility.
            </p>
    </div>

    <div class="container justify-content-center">
        <form action = "{{ url_for('addpatient') }}" method = "POST">
            <h3>Patient Sign-In</h3>
            First_Name<br>
                <input class="form-control" type="text" name="pfn">
            <br>
            Last_Name<br>
                <input class="form-control" type="text" name='pln'>
            <br>
            Status (In/Out)<br>
                <input class="form-control" type="text" name="pst">
            <br>
            Procedure Requested<br>
                <input class="form-control" type="text" name="preq">
            <br>
            Procedure Date<br>
                <input class="form-control" type="date" name="pd">
            <br>
            <input class="btn btn-outline-success" type="submit" name="Submit">
        </form>
    </div>
   <a href = "/">Return to the home page</a>
   <div>
    <img src="/static/HospitalLogo.jpg" width="500" height="400"/>
  </div>
{% endblock %}